.login-page {
  display: flex;
  margin-left: 4px;
  margin-right: 4px;
}
.login-image {
  width: 100%;
  background-color: lightblue;
}
.login-form {
  width: 70%;
  padding: 50px 200px;
  background: blue;
}
.login-form input {
  width: 100%;
}
label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.blanks{
  height: 27px;
}
.sub-button{
  margin-top: 12px;
    margin-left: 2px;
}
.reg-button{
  margin-left: 96px;
    margin-top: -21px;
}